* {
	margin: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #a6a6a6;
}

a:link {
	text-decoration: none;
	color: #ffffff;
}
/* visited link */
a:visited {
	color: #ffffff;
}

/* mouse over link */
a:hover {
	color: #afafaf;
}

/* selected link */
a:active {
	color: #ffffff;
}

.site-footer {
	background: #1f1f1f;
	padding: 60px 0px 55px;
	color: #d6d6d6;

	background-color: #1f1f1f;
	width: 100%;

	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	text-align: center;

	position: fixed;
	bottom: 0;
}
