* {
}

a:link {
	text-decoration: none;
	color: #ffffff;
}
/* visited link */
a:visited {
	color: #ffffff;
}

/* mouse over link */
a:hover {
	color: #afafaf;
}

/* selected link */
a:active {
	color: #ffffff;
}

footer {
	background-color: #a6a6a6;
	width: 100%;
	margin: 25px;

	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	text-align: center;
}
