* {
	margin: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #a6a6a6;
}

a:link {
	text-decoration: none;
	color: #ffffff;
}
/* visited link */
a:visited {
	color: #ffffff;
}

/* mouse over link */
a:hover {
	color: #afafaf;
}

/* selected link */
a:active {
	color: #ffffff;
}

#footer {
	background-color: #1f1f1f;
	width: 100%;
	margin: 25px;

	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	text-align: center;
}

.site-footer {
	background: #1f1f1f;
	padding: 60px 0px 55px;
	color: #d6d6d6;
}

.site-info {
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	color: #d6d6d6;
	padding-top: 50px;
}

.header-bottom {
	background: #d6d63a;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
}

.website-navigation {
	width: 100%;
}

.website-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
