* {
	margin: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

a:link {
	text-decoration: none;
	color: #ffffff;
}
/* visited link */
a:visited {
	color: #ffffff;
}

/* mouse over link */
a:hover {
	color: #afafaf;
}

/* selected link */
a:active {
	color: #ffffff;
}

#footer {
	background-color: #1f1f1f;
	width: 100%;
	margin: 25px;

	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	text-align: center;
}

.site-footer {
	background: #1f1f1f;
	padding: 60px 0px 55px;
	color: #d6d6d6;
}

.site-info {
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	color: #d6d6d6;
	padding-top: 50px;
}
