/* Applying three properties to the children of the body element */
body * {
	color: hsla(210, 100%, 100%, 0.9) !important;
	background: hsla(210, 100%, 50%, 0.3) !important;
	outline: 0.3em solid hsla(210, 100%, 100%, 0.5) !important;
}

.debug {
	justify-content: center;
	align-items: center;
	display: flex;
}
