* {
	margin: 0px;
}

article {
	display: grid;
	grid-template-columns: 1fr 0.5in [start] minmax(0, 8fr) [end] 0.5in 1fr;

	height: 100vh; 
	padding: 0.5in 0;
}

article * { grid-column: start / end; }

/* mobile article */
@media max-width {
}

body {
	line-height: 30px;
	color: #a6a6a6;
}

a:link {
	text-decoration: none;
	color: #ffffff;
}
/* visited link */
a:visited {
	color: #ffffff;
}

/* mouse over link */
a:hover {
	color: #afafaf;
}

/* selected link */
a:active {
	color: #ffffff;
}

.site-footer {
	background: #1f1f1f;
	padding: 60px 0px 55px;
	color: #d6d6d6;

	background-color: #1f1f1f;
	width: 100%;

	text-transform: capitalize;
	text-align: center;

	position: fixed;
	bottom: 0;
}
